<a data-testid="@Elements.HealthCheckLink" href="/_clienthealthcheck" class="health-check-link" title="Health Check">
    <i class="bi bi-gear-fill" aria-hidden="true"></i> Health Check
</a>

@code {

    public enum Elements
    {
        HealthCheckLink
    }

}